<h1 class="text-center">プロフィール編集</h1>

<%= form_for current_user, url: profile_update_path do |f| %>
  <%= render "layouts/error_messages", model: current_user %>
  <div class="form-group">
    <%= f.label :name, class:"label_color" %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control form' %>
  </div>

  <div class="form-group">
    <%= f.label :profile, class:"label_color" %>
    <%= f.text_area :profile, class: 'form-control form', style:"height:200px"%>
  </div>

  <div class="form-group">
    <%= f.label :avatar, "ユーザーアイコン", class:"label_color" %>
    <%= f.file_field :avatar, accept: "image/jpeg,image/png,image/jpg", class: 'form-control form' %>
  </div>

  <div class="form-group">
    <%= f.submit "更新", class: 'btn btn-block main-btn erb-link-btn' %>
  </div>
<% end %>
