<div>
  <%= link_to "#{article.user.name}", mypage_path(article.user.id) %>
  <p>タグ
    <% article.tags.each do |tag| %>
      <span><%= link_to tag.tag_name,tag_articles_path(tag_id: tag.id) %></span>
    <% end %>
  </p>
  <p><%= creation_date(article) %></p>
  <h4><%= link_to "#{article.title}", article_path(article) %></h4>
  <p>いいね！<%= article.likes_count%></p>
  <hr>
</div>
