<%= form_with model: @article, local: true do |f| %>
  <p>
    <%= f.label :title  %>
    <%= f.text_field :title, placeholder: "タイトル", required: true %>
  </p>
  <p>
    <%= f.label :tag_name %>
    <%= f.text_field :tag_name, value: @tag_list, placeholder: "スペース区切りで入力 (例: 外科 手術)" %>
  </p>
  <p>
    <%= f.label :content %>
    <%= f.rich_text_area :content, placeholder: "あなたの学びを共有しよう" %>
  </p>
  <%= f.select :status, Article.statuses_i18n.invert %>
  <%= f.submit "送信" %>
<% end %>
