
<%= image_tag user_icon(@user, "small") %>
<p><%= "@#{@user.name}" %></p>
<p><%= "投稿数#{@user.articles.count}" %></p>

<%= @user.profile %>

<% if account_owner?(@user) %>
  <h3><%= link_to "プロフィール編集", profile_edit_path %></h3>
<% end %>
<h4>最近の投稿</h4>

<%= render @articles %>
<%= paginate @articles %>
